.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: black;
    text-decoration: none;
}

nav ul li {
    position: relative;
}


.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

/*nav termina*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: block;
}

.search {
    display: flex;
}

.search input {
    padding: 5px;
}

.search button {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart img {
    width: 30px;
    height: auto;
}

#cart-count {
    margin-left: 5px;
    font-weight: bold;
}

.menu, .categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.product-item {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.social-media a img {
    margin: 0 5px;
}
