* {
    margin: 0;
    padding: 0;
}
body {
    margin: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}
#contenedor {
    width: 95%;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 10px;
}
header {
    text-align: center;
    margin-bottom: 20px;
   color: rgb(36, 121, 196);
 }
h1{
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(192, 26, 26);
}
h2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: black;
    text-decoration: none;
}

nav ul li {
    position: relative;
}


.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

/*nav termina*/
.Direccionmapa{
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: skyblue;
    
}
.detallada{
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: skyblue;

}
.Direccionmapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
}
.detallada iframe{
    width: 100%;
    height: 300px;
    border: 0;
}
footer {
    text-align: center center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
footer p{
    width: 90%;
    margin-left: 45px;
    margin-bottom: 10px;
}
footer div{
    margin: auto;
    display: flex;
    width: 60%;
    height: 100%;
   margin-right: 5%;
}
footer div img{
    margin: 10px 0px;
    width: 40%;
    border-radius: 50%;
}
nav a:hover{
	background-color: cyan;
} 

/*aqui ise unos cambios para mejorar ele css*/
#carro{
    width: 100%; 
    height: 350px; 
    padding-right: 100px;
    border-radius: 10px;
}
  .Direccionmapa a {
font-size: 17px;
display: inline-block;
text-decoration: none;
margin-bottom: 15px;
color: black;
  } 
 
  .letra a:hover {
    color: #007bff; 
  }