* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    background-color: #007bff;
    padding: 20px;
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img_logo {
    flex: 1;
    text-align: center;
}

.logo {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    flex: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #FDF0CE;
}

.submenu-marcas {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-top: 3px solid #2E1572;
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li:hover > .submenu-marcas {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

.submenu-marcas li a {
    padding: 10px 20px;
    color: #000000;
}

.header-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50px;
    margin-left: auto;
}

.header-carrito img {
    max-width: 100%;
    height: auto;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles for the main sections */
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}

main{
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #1886fc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 20px; 
    padding: 20px;
    background-color: #3d96f5;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

section:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}

.pointer {
    cursor: pointer;
}